@model IEnumerable<CIP.Models.Comment>

@{
    ViewBag.Title = "Comments";
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/xrange.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
    <h2>Комментарии</h2>
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>

    @using (Ajax.BeginForm("CommentsWithFilters", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <input type="text" value="Все объекты" name="filter" onfocus="if (this.value == 'Все объекты') {this.value=''}" onBlur="if (this.value == '') {this.value='Все объекты'}" />
        <input type="submit" value="Поиск" />
    }
    <div id="results">
        <table class="table">
            <tr>
                <th>
                    Номер объекта
                </th>
                <th>
                    Важность
                </th>
                <th>
                    Комментарий
                </th>
                <td>
                    Дата
                </td>
                <th></th>
            </tr>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Object)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Priority)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Commentary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date).ToString().AsDateTime().ToShortDateString()
                    </td>
                    <td>
                        @Html.ActionLink("Редактировать", "EditComment", new { id = item.Id },new { @class = "commentItem" }) |
                        @Html.ActionLink("Детали", "Index", new { time = item.Date }) |
                    </td>
                </tr>
            }
        </table>
    </div>
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".commentItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
</body>
</html>